.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 36px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category-item.box,
.task-item.box {
    padding: 10px;
}
.MainBar {
    background-color: #fff;
    padding: 20px;
}
.category-item.box:not(:last-child) {
    margin-bottom: 0;
}


.Category > .Categories {
    margin-bottom: 10px;
    padding-left: 10px;
}

.category-item.active a {
    color: #fff;
}
.task-item .task-title {
    margin-left: 10px;
}
.Todo {
    min-height: 500px;
}

.todo-layout {
    margin-top: 5px;
}
.category-item.active {
    background-color: #3273dc;
    color: #fff;
}
.TaskEdit .description {
    min-height: 160px;
}
.TaskEditor .TaskEditorBar {
    margin-bottom: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
